/* src/components/PostDetail/postDetail.css */
.postDetail h3 {
  margin: 0;
  padding-bottom: 10px;
}

.postDetail .content {
  padding: 20px 0;
}

.postDetail .meta {
  font-size: 14px;
  color: #666;
}
