/* src/components/ClassPostItem/ClassPostItem.css */
.classPostItem {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.postDate {
  text-align: center;
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.postImages {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates a 3-column grid */
  grid-gap: 10px; /* Spacing between images */
}

.postImage img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Optional: if you want rounded corners */
}
